[submodule "projects/wristband"]
	path = projects/wristband
	url = git@bitbucket.org:contracing/wristband.git
	branch = master
[submodule "projects/pyhub"]
	path = projects/pyhub
	url = git@bitbucket.org:contracing/pyhub.git
	branch = master
